<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="log/Sip.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="user" value="SIP" />
    <add key="pwd" value="SIP2015" />
    <add key="expertpdfKey" value="" />
    <add key="presupuesto" value="Resources\\Html\\Presupuesto.html" />
    <add key="prestadores_presupuesto" value="Resources\\Html\\ListaPrestadores_Presup.html" />
    <add key="solicitud" value="Resources\\Html\\Solicitud.html" />
    <add key="copiaprestador" value="Resources\\Html\\CopiaPrestador.html" />
    <add key="tutorial" value="Resources\\tutorial.pdf" />
    <!--add key="smtp" value="smtpscl.masterrelay.com" /-->
    <add key="smtp" value="smtp.banmedica.cl" />
    <add key="port" value="25" />
    <add key="mailFrom" value="derivacionsip@banmedica.cl" />
    <add key="mailSubjectBan" value="Nueva solictud de {0}" />
    <add key="mailBody" value="Estimado prestador, adjuntamos una nueva solicitud para el {0}" />
    <add key="key_encripta" value="sip321" />
    <add key="texto_watermark" value="Copia de carta generada con fecha {0}" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
      <implicitRefCursor>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.OBTENER_PRESTADORES">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="PRESTSIP_ID" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="PRTA_NRUT" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="PRTA_NOMBRE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="PRTA_NRUT_INSTITUCION" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="4" columnName="PRTA_NSECUEN_INSTITUCION" providerType="Int16" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="5" columnName="ISAP_CEMPRESA" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="PRESTSIP_XESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="7" columnName="PRESTSIP_FINICIO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="8" columnName="PRESTSIP_FTERMINO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="9" columnName="PRESTSIP_OBSERVACION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="10" columnName="TRAMO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="11" columnName="COPAGO" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="12" columnName="PRESTSIP_DIRECCION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="13" columnName="PRESTSIP_TELEFONO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="14" columnName="PRESTSIP_DIRWEB" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.OBTENER_PRESTACIONES">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="PRESSIP_ID" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="PRES_CCOD_PAQUETE" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="PAQU_DESCRIPCION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="PRESSIP_XESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="PRESSIP_FINICIO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="PRESSIP_FTERMINO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="ISAP_CEMPRESA" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.OBTENER_CONDICIONES">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="PRESCOND_TCONCIDICION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="1" columnName="PRESCOND_XTIPO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="PRESCOND_XESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="PRESCOND_FINICIO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="PRESCOND_FTERMINO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="ISAP_CEMPRESA" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.SP_OBTENER_PREVIEW">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="SOLSIP_ID" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="AFIL_NRUT" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="AFIL_TNOMBRES" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="AFIL_TAPELLIDO_PATERNO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="AFIL_TAPELLIDO_MATERNO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="INICIOVIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="ISAP_CEMPRESA" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="7" columnName="CARG_NRUT" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="8" columnName="SOLISIP_FSOLICITUD" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="9" columnName="PRESSIP_ID" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="10" columnName="PAQU_DESCRIPCION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="11" columnName="PRES_CCOD_PAQUETE" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="12" columnName="PRESTSIP_ID" providerType="Int32" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="13" columnName="TRAMO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="14" columnName="CATSIP_NCATEGORIA" providerType="Int16" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="15" columnName="CANAL" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="16" columnName="SOLISIP_EJEC_NRUT" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="17" columnName="SOLISIP_AGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="18" columnName="SOLISIP_XESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="19" columnName="SOLISIP_FESTADO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="20" columnName="PLSA_CCOD" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.OBTENER_BENEFICIARIOS">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="RUT" providerType="Int32" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="SECUENCIA" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="APEPAT" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="APEMAT" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="NOMBRE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="DV" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="INICIOVIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="7" columnName="EMAIL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="8" columnName="FONO1" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="9" columnName="CELULAR" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.OBTENER_STAFF">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="PRTA_NRUT" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="STPREST_NOMBRE_PRES" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="STPREST_XESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="STPREST_FINICIO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="STPREST_FTERMINO_VIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="ISAP_CEMPRESA" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_SIPNET.SP_OBTENER_SIP">
          <refCursor name="ORA_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="SOLSIP_ID" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="AFIL_NRUT" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="AFIL_TNOMBRES" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="AFIL_TAPELLIDO_PATERNO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="AFIL_TAPELLIDO_MATERNO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="INICIOVIGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="ISAP_CEMPRESA" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="7" columnName="CARG_NRUT" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="8" columnName="SOLISIP_FSOLICITUD" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="9" columnName="PRESSIP_ID" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="10" columnName="PAQU_DESCRIPCION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="11" columnName="PRES_CCOD_PAQUETE" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="12" columnName="PRESTSIP_ID" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="13" columnName="PRESTSIP_NOMBRE_PREST" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="14" columnName="PRTA_NRUT" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="15" columnName="PRESTSIP_DIRECCION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="16" columnName="PRESTSIP_TELEFONO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="17" columnName="PRESTSIP_DIRWEB" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="18" columnName="TRAMO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="19" columnName="CATSIP_NCATEGORIA" providerType="Int16" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="20" columnName="CANAL" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="21" columnName="SOLISIP_EJEC_NRUT" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="22" columnName="SOLISIP_AGENCIA" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="23" columnName="SOLISIP_XESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="24" columnName="SOLISIP_FESTADO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="25" columnName="PLSA_CCOD" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="26" columnName="COPAGO" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="27" columnName="NOMBRE_EJECUTIVO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.OBTENERINSTITUCIONES">
          <refCursor name="C_MEDICOS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="IDPRESTADOR" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NOMBREPRESTADOR" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.OBTENERMEDICOS">
          <refCursor name="C_MEDICOS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="RUT" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NOMBRE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.OBTENERPRESTACIONES">
          <refCursor name="C_PRESTACIONES">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="CODPAQUETE" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DESCRIPCION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="ISAPRE" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="ESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="INICIOVIGENCIA" providerType="Date" allowDBNull="false" nativeDataType="Date" />
            <metadata columnOrdinal="5" columnName="TERMINOVIGENCIA" providerType="Date" allowDBNull="true" nativeDataType="Date" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.OBTENERPRESTADORES">
          <refCursor name="C_PRESTADORES">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="RUT" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NOMBRE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="ISAPRE" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="SECUENCIA" providerType="Int16" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="4" columnName="RUTINSTITUCION" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.OBTENERRESTRICCIONES">
          <refCursor name="C_RESTRICCIONES">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="IDPRESTACION" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="CODPLAN" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="ISAPRE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.OBTENERSOLICITUDES">
          <refCursor name="C_SOLICITUDES">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="IDSOLICITUD" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="PRESTACION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="PRESTADOR" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="ISAPRE" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="NOMBREAFILIADO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="ESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SOLISIP" name="PKG_ADMINSIP2.LISTARPRESTACIONES">
          <refCursor name="C_PRESTACIONES">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="IDPRESTACION" providerType="Int32" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DESCRIPCION" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SipEntities" connectionString="metadata=res://*/Models.Entities.SipModel.csdl|res://*/Models.Entities.SipModel.ssdl|res://*/Models.Entities.SipModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=banprod.banmedica.cl:1521/prod.banmedica.cl;password=aplsip1123;persist security info=True;user id=APLSIP&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminSipEntities" connectionString="metadata=res://*/Models.Entities.AdminSipModel.csdl|res://*/Models.Entities.AdminSipModel.ssdl|res://*/Models.Entities.AdminSipModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=BANDESA_DPROD.BANMEDICA.CL;PASSWORD=SOLISIPDESA;USER ID=SOLISIP&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>