@model WebAdminSIP.Models.DTO.Prestacion


<div class="container">

    <center><h1>Agregar Prestación</h1></center>
    <br>

    @using (Html.BeginForm("Agregar", "Prestacion", FormMethod.Post, new { id = "FormAgregarPrestacion", name = "FormAgregarPrestacion" }))
    {
        <div class="form-row">

            <div class="form-group col-md-6">
                <label>Isapre</label>
                @Html.DropDownListFor(model => model.isapre,
                   new SelectList(Model.LstIsapres, "Value", "Text"), "Selecciona la isapre",
                   new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label>Código paquete</label>
                @Html.TextBoxFor(model => model.codPaquete, new { @class = "form-control", placeholder = "Ingrese el código de paquete", @type = "number" })
            </div>

            <div class="form-group col-md-6">
                <label>Descripción</label>
                @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control", placeholder = "Ingrese la descripción de la prestación" })
            </div>

            <div class="form-group col-md-6">
                <center>
                    <br>

                    <button type="submit" class="btn btn-outline-danger btn-lg" id="btnAgregarPrestacion" name="btnAgregarPrestacion">Agregar</button>

                    <button type="reset" class="btn btn-outline-danger btn-lg" onclick="limpiarFormulario()" value="Limpiar">Limpiar</button>

                </center>
            </div>
        </div>
    }


</div>